@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:wght@100..800&family=Xanh+Mono:ital@0;1&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
  border: 1px red solid;
} */


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

hr {
  border-width: 0;
}

